[run]
source=keygenerator/
omit=
    */migrations/*

    # Ignore all configuration files
    *config*

    # Ignore all example files
    *example*

    # Init files are mostly empty
    *__init__.py
