**/__pycache__/

db.sqlite3

*.service

# Application specific configurations
wireguest/ldap_settings.py
wireguest/secret_key.py
keygenerator/wireguard_config.py
keygenerator/static/js/key_generator.js
config_headers/production/*.h

*.err
*.log

# Coverage (but keep .coveragerc)
.coverage
htmlcov/
coverage.xml
