{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <p>Register a new interface for {{ user }}</p>
        <form method="post">
            {% csrf_token %}
            <fieldset>
                {{form|crispy}}
            </fieldset>
            <button id="submit_button" type="submit" name="button_s">Submit</button>

        </form>
        <button id="generate_submit_button" name="button_gs">Generate and submit</button>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/CryptoEsel/js-x25519/x25519.js"></script>
        <script src="{% static 'js/key_generator.js' %}"></script>
    </body>
</html>
