{% extends 'keygenerator/base.html' %}

{% block content %}
    {% if not peers %}
        <p>No key found for user {{ username }}</p>
    {% else %}
        <p>Listing keys for user {{ username }}</p>
        {% for peer in peers %}
            <div>
                {% if peer.name %}
                    <h3>{{ peer.name }}</h3>
                {% endif %}
                <p>Public Key: {{ peer.public_key }}</p>
                <p>Address: {{ peer.address }}</p>
                <p>Creation date: {{ peer.creation_date|date:"Y-m-d H:i:s"}}</p>
                <a class="btn btn-outline-secondary" href="{% url 'keygen-edit' peer.id %}">Edit</a>
                <a class="btn btn-outline-danger" href="{% url 'keygen-delete' peer.id %}">Delete</a>
            </div>
        {% endfor %}
    {% endif %}
{% endblock content %}
